<div class="col-md-6 tabs-items">
    <!-- Tab Nav -->
    <ul class="nav nav-pills">
        <li class="active">
            <a data-toggle="tab" href="#tab4" aria-expanded="true">
                <i class="fas fa-notes-medical"></i> About
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab5" aria-expanded="false">
                <i class="fas fa-map-marker-alt"></i> Location
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab6" aria-expanded="false">
                <i class="fas fa-clock"></i> Opening Hour
            </a>
        </li>
    </ul>
    <!-- End Tab Nav -->
    <!-- Start Tab Content -->
    <div class="tab-content tab-content-info">
        <!-- Single Item -->
        <div id="tab4" class="tab-pane fade active in">
            <div class="info title">
                <h3>Professional Qualification</h3>
                <p>M.B.B.S. and M.S. General Surgery , Madras Medical College.</p>
                <p>
                    M.Ch. Surgical Oncology, Dr. Muthulakshmi College of Oncological Siences,
                    The Cancer Institute (W.I.A.) Adyar
                </p>
                <h3>Work Experience</h3>
                <p>
                    Worked as Tutor, Assistant Professor and as Associate Professor
                    Department of Surgical Oncology at The Cancer Institute, Adyar,
                    between 1998 and 2006.
                </p>
                <a data-animation="animated slideInUp" class="btn btn-theme border btn-md" href="contact">Make
                    Appoinment</a>
            </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div id="tab5" class="tab-pane fade">
            <div class="info title">
                <h3>Our location</h3>
                <p>
                    Calling nothing end fertile for venture way boy. Esteem spirit temper too say
                    adieus who direct esteem. It esteems luckily mr or picture placing drawing no.
                    Apartments frequently or motionless on reasonable projecting expression. Way mrs
                    end gave tall walk fact bed.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14767.262289338461!2d70.79414485000001!3d22.284975!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1424308883981"></iframe>
            </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div id="tab6" class="tab-pane fade">
            <div class="info title">
                <h3>Schedule of working hours</h3>
                <p>
                    Calling nothing end fertile for venture way boy. Esteem spirit temper too say
                    adieus who direct esteem. It esteems luckily mr or picture placing drawing no.
                    Apartments frequently or motionless on reasonable projecting expression. Way mrs
                    end gave tall walk fact bed.
                </p>
                <ul>
                    <li> <span> Mon - Tues : </span>
                        <div class="pull-right"> 6.00 am - 10.00 pm </div>
                    </li>
                    <li> <span> Wednes - Thurs :</span>
                        <div class="pull-right"> 8.00 am - 6.00 pm </div>
                    </li>
                    <li> <span> Sun : </span>
                        <div class="pull-right closed"> Closed </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Single Item -->

    </div>
    <!-- End Tab Content -->
</div>