/*
Flaticon icon font: Flaticon
*/
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Flaticon.woff2") format("woff2"),
	url("../fonts/Flaticon.woff") format("woff"),
	url("../fonts/Flaticon.ttf") format("truetype"),
	url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-right-chevron:before { content: "\f100"; }
.flaticon-left-chevron:before { content: "\f101"; }
.flaticon-doctor:before { content: "\f102"; }
.flaticon-care:before { content: "\f103"; }
.flaticon-brain:before { content: "\f104"; }
.flaticon-dental-chair:before { content: "\f105"; }
.flaticon-check-mark:before { content: "\f106"; }
.flaticon-newborn:before { content: "\f107"; }
.flaticon-laboratory:before { content: "\f108"; }
.flaticon-extraction:before { content: "\f109"; }
.flaticon-light-bulb:before { content: "\f10a"; }
.flaticon-trophy:before { content: "\f10b"; }
.flaticon-science:before { content: "\f10c"; }
.flaticon-doctor-1:before { content: "\f10d"; }
.flaticon-hospital:before { content: "\f10e"; }
.flaticon-focus:before { content: "\f10f"; }
.flaticon-doctor-2:before { content: "\f110"; }
.flaticon-tooth:before { content: "\f111"; }
.flaticon-user:before { content: "\f112"; }
.flaticon-envelope:before { content: "\f113"; }
.flaticon-support:before { content: "\f114"; }
.flaticon-phone-call:before { content: "\f115"; }
.flaticon-shopping-bag:before { content: "\f116"; }
.flaticon-left-arrow:before { content: "\f117"; }
.flaticon-arrow-pointing-to-right:before { content: "\f118"; }
.flaticon-cancer:before { content: "\f119"; }
.flaticon-liver:before { content: "\f11a"; }
.flaticon-kidney:before { content: "\f11b"; }
.flaticon-ekg:before { content: "\f11c"; }
.flaticon-radiation:before { content: "\f11d"; }