/**
 *
 * Responsive Styles For Consultant's Template
 *
 * This File have all responsive CSS
 */
 
 /**
  *	Only For Small Screens
  *
  * Width Less than 40*16 = 640px
  */
@media screen and (max-width: 39.9375em) {
/*All Reponsive Code Goes here*/
	
	.main-container {
		width:100%;
		overflow:hidden;
	}
	.grey-bg {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.module {
		margin-bottom:80px;
	}
	/** General CSS **/
	.main-banner .owl-nav {
    	opacity: 0;
    	display: none;
	}
	.button {
		min-height:0;
    	min-width:0;
    	padding:.85em 1em;
	}
	.information-box ,
	.grid-container .small-12 {
		margin-bottom:.625rem;
	}
	.grid-container .small-12:last-child {
		margin-bottom:0rem;
	}
	.info-container .icon-box:nth-child(2n) {
		display:none !important;
	}
	.section-title {
		margin-bottom:30px;
	}
	.dark-bg:after {
    	left: -50%;
	}
	/** Header **/
	.header .logo img {
		margin-bottom:20px;
		margin-right:0;
	}
	.header .info-container ,
	.header .logo {
		text-align:center;
	}
	.header .info-container .icon-box:last-child {
		margin-bottom:0;
	}
	.header .info-container .icon-box {
		margin: auto;
		display: table;
	}
	.header .info-container,
	.header .icon-box {
		float:none;
	}
	.header .info-container .icon-box:after {
		content:'';
		clear:both;
		display:inline-block;
	}
	
	/** navigation **/
	.top-bar {
    	padding: 20px;
	}
	.top-bar nav {
		width:100%;
		margin-top:25px;
	}
	.search-wrap {
		padding:0px 20px;
	}
	
	/** Main Banner **/
	.slide-text {
    	position: relative;
		padding-top:40px;
		padding-bottom:40px;
		padding-right:15px;
		padding-left:15px;
		text-align:center;
		width:100%;
	}
	.slide-text h2 {
		font-size: 3rem;
	}
	.slide-text h3 {
		font-size: 3.125rem;
	}
	.slide-text p {
		font-size: 0.9375rem;
		line-height:26px;
	}
	.slide-text p br {
		display:none;
	}
	
	.slide.transparent-background {
		height:100%;
		width:auto;
		position:relative;
	}
	.slide.slide-two,
	.slide.slide-one {
		background-image:url("../images/help/slide1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		
	}
	.slide.slide-two {
		background-image:url("../images/help/slide2.jpg");
	}
	.slide.transparent-background img {
		display:none;
	}
	
	/** information-boxes **/
	.information-box {
    	display: inline-block;
    	width: 100%;
	}
	
	/** About Section **/
	.about-img {
		background: linear-gradient(90deg, #e1e8f0 100%, #FFFFFF 0%);
	}
	.about-img p {
		width:100%;
		font-size:1rem;
		padding:20px 5px;
		margin-right:0px;
		text-align:center;
		line-height:normal;
	}
	.introduction-side .about-text {
		text-align:center;
	}
	.introduction-side .button {
		margin-top:0;
	}
	
	/** Our Staf **/
	.our-staff .staff-box img {
		width:100%;
		height:auto;
	}
	
	/** testimonial wrap **/
	.testimonial-slid .testimonial-text {
		width: calc(100% - 0px);
		padding-right: .625rem;
		padding-left: .625rem;
	}
	
	/** Products **/
	.products {
		background: linear-gradient(0deg, #f8f8f8 0%, #FFFFFF 0%);
	}
	.products .cell {
		background: linear-gradient(0deg, #f8f8f8 50%, #FFFFFF 50%);
	}
	.products.module {
		margin-bottom:0px;
	}
	
	.blog-section blog img {
		width:100%;
		height:auto;
	}
	
	/** blog Section **/
	.blog-text {
    	padding: 17px 5px;
	}
	.blog-img img {
		width:100%;
		height:auto;
	}
	.form-section .form {
		width: calc(100% - 0px);
		float: right;
		text-align:center;
	}
	.second-information-box {
		margin-top:0.9375rem;
		margin-bottom:1.875rem;
	}
	.products .grid-container .small-12, 
	.achievement-counter .grid-container .small-12 {
		margin-bottom:0.9375rem;
		margin-top:0.9375rem;
	}
	.products .product-text {
		padding-bottom:30px;
	}
	
	/** Call To Action **/
	.call-to-action-text h2 {
		font-size:1.625rem;
	}
	.call-to-action-text p {
		margin-bottom:17px;
	}
	
	/** Footer **/
	.footer-bottom-nav ,
	.footer-logo-side .social-icons ,
	.footer-logo-side {
		text-align:center;
		display:table;
		margin:auto;
	}
	.footer-logo-side .contact-us {
		text-align:left;
	}
	.footer-bottom .copyrightinfo a,
	.footer-bottom .copyrightinfo {
		text-align:center;
	}
	.footer-bottom-nav ul li a {
		padding-left:8px;
		padding-right:8px;
	}
	.footer-box .links:last-child,
	.footer-box .links {
		float:left;
	}
	.footer-top .grid-container .small-12 {
		margin-top:0.9375rem;
		margin-bottom:0.9375rem;
	}
}
	
/**
 *
 * Medium Screens
 * Ipad and Larger Screens Than Mobiles.
 *
 */
@media screen and (min-width: 40em) and (max-width:63.9375em) {
	
	/** General CSS **/
	.grey-bg {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.module {
		margin-bottom:80px;
	}
	.second-information-box {
		margin-top:0.9375rem;
		margin-bottom:1.875rem !important;
	}
	.main-banner .owl-nav {
    	opacity: 0;
    	display: none;
	}
	.achievement-counter .cell:nth-child(-n+2) ,
	.blog-section .cell ,
	.why-chose-us .cell ,
	.footer-top .footer-box ,
	.information-box {
		margin-bottom:.9375rem;
	}
	.about-section .cell:last-child ,
	.blog-section .cell:last-child ,
	.why-chose-us .cell:last-child ,
	.footer-top .cell:last-child .footer-box ,
	.information-box:last-child {
		margin-bottom:0px;
	}
	.about-section .cell ,
 	.products .cell:nth-child(-n+2),
	.our-staff .cell:nth-child(-n+2) {
		margin-bottom:.9375rem;
	}
	.padding-between .grid-padding-y .cell:last-child {
		padding-bottom:0px;
	}
	.sidebar .button {
		margin-bottom:15px;
		width:100%;
	}

	/** navigation **/
	.top-bar {
    	padding: 20px;
	}
	.top-bar nav {
		width:100%;
		margin-top:25px;
	}
	.search-wrap {
		padding:0px 20px;
	}
	
	/** Main Banner **/
	.slide-text {
		width:100%;
		text-align:center;
	}
	
	/** information-boxes **/
	.information-box {
    	display: inline-block;
    	width: 100%;
	}
	
	/** About Section **/
	.about-img {
		background: linear-gradient(90deg, #e1e8f0 100%, #FFFFFF 0%);
	}
	.about-img p {
		font-size:1rem;
		width:100%;
		padding:20px 5px;
		margin-right:0px;
		text-align:center;
		line-height:normal;
	}
	.introduction-side .about-text {
		text-align:center;
	}
	.introduction-side .button {
		margin-top:0;
	}
	
	/* Services */
	.blog-section .grid-container .medium-6,
	.services-wrap .grid-container .medium-6 {
		margin:auto;
	}
	.blog-section .grid-container .medium-6 {
		padding-top:0.9375rem;
	}
	
	/** testimonial wrap **/
	.testimonial-slid .testimonial-text {
		width: calc(100% - 62px);
		padding-right: .625rem;
		padding-left: .625rem;
	}
	
	/** Products **/
	.products {
		background: linear-gradient(0deg, #f8f8f8 0%, #FFFFFF 0%);
	}
	.products .cell {
		background: linear-gradient(0deg, #f8f8f8 50%, #FFFFFF 50%);
	}
	.products.module {
		margin-bottom:0px;
	}
	.products .product-text {
		padding-bottom:40px;
	}
	
	/** Footer **/
	.footer-logo-side p {
		text-align:start;
	}
	.footer-logo-side .contact-us ul li:last-child,
	.footer-logo-side .contact-us span {
		display:none;
	}
	.footer-bottom .copyrightinfo a,
	.footer-bottom .copyrightinfo {
		text-align:center;
	}
	.footer-bottom-nav ul li a {
		font-size:0.6875rem;
		padding-left:8px;
		padding-right:8px;
	}
	.footer-box .links:last-child,
	.footer-box .footer-news img,
	.footer-box .footer-news p,
	.footer-box .footer-news h2,
	.footer-box .links {
		float:none;
	}
	.footer-top .footer-box:first-child .links {
		margin-bottom:5px;
	}
	.footer-box .footer-news h2, .footer-box .footer-news p {
    	width: calc(100% - 0px);
	}
	.footer-bottom .copyrightinfo a,
	.footer-bottom .copyrightinfo {
		text-align:left;
	}
}
/**
 *
 *
 * Ipad and Larger Screens Than Mobiles.
 *
 */
@media screen and (min-width:64em) and (max-width: 72.5em) {
	.top-bar {
    	padding: 20px;
	}
	.information-box:last-child{
		margin-bottom:0px;
	}
	.top-bar nav {
		margin-top:0px;
	}
	.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a,
	.dropdown.menu li a {
		padding: 21px 10px;
	}
	.information-text {
		padding: 48px 30px;
	}
	.about-text h3 span,
	.about-text h3 {
		font-size:1.875rem;
	}
	.footer-box .links li a,
	.footer-logo-side .contact-us a {
		font-size:0.75rem;
	}
	.footer-bottom-nav ul li a,
	.copyrightinfo a {
		font-size:0.625rem;
	}
	.main-banner .owl-nav {
    	opacity: 0;
    	display: none;
	}
	.navigation .top-bar {
		padding-top:0px;
		padding-bottom:0px;
	}
	.top-bar nav {
		margin:auto;
	}
	.navigation .social-icons {
		margin-bottom:0px;
		text-align:center;
	}
	.navigation .search-wrap.float-right {
		float:none !important;
	}
	.navigation .top-bar,
	.navigation .small-6 {
		width:100%;
		text-align:center;
	}
	.slide-text {
		width:100%;
		text-align:center;
	}
}
